.footer {
    background: #37474f;
    padding: 30px 20px;
    color: #fff;
    .soc-net {
        &__label {
            color: #fff;
        }
        &__mail-link {
            color: #fff;
        }
    }
}