.header {
    background: rgb(63,81,181);
    color: #fff;
    padding: 25px 20px;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .author {
        text-align: center;
        color: #fff;
        &__name {
            display: block;
            font-size: 1.2em;
            font-weight: 500;
            margin-bottom: 3px;
            color: #fff;
        }
        &__job {
            font-size: 0.8em;
            display: block;
        }
        &__job-link {
            color: #fff;
            border-bottom: 1px dotted #fff;
            margin-left: 5px;
            display: inline-block;
            &:hover {
                border: none;
            }
        }
    }
    .soc-net {
        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 8px;
        }
        &__link {
            display:  block;
            font-size: 2em;
            color: #fff;
            margin: 0 15px 0 0;
        }
        &__mail {
            text-align: center;
        }
        &__mail-link {
            display: block;
            color: #fff;
        }
    }
    @include bp(980){
        .author {
            &__name {
                font-size: 1em;
            }
            &__job {
                font-size: .6em;
            }
        }
        .soc-net {
            &__mail-link {
                font-size: 0.7em;
            }
            &__link {
                font-size: 1em;
            }
        }
    }
    @include bp(640){
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        .author {
            margin: 0 0 15px;
            &__name {
                font-size: 2em;
            }
            &__job {
                font-size: 1.2em;
            }
        }
        .soc-net {
            &__mail-link {
                font-size: 1.2em;
            }
            &__link {
                font-size: 2em;
            }
        }
    }
}

