.css-tricks {
    background: #ccc;
}
.body-tools {
    background: #fff;
}
.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.main {
    padding: 154px 40px 20px;
    background-color: #fafafa;
    &.main-page {
        background: url(#{$imgurl}/wallpaper.jpg) no-repeat;
    }
    @include bp(640){
        padding: 20px 10px;
        width: 100%;
    }
}
