.arrow {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:before,
    &:after {
        content: '';
        position: absolute;
        border: 4px #fff;
    }
    &:before {
        top: 19px;
        border-top-style: solid;
        width: 35px;
    }
    &:after {
        content: '';
        width: 22px;
        height: 22px;
        top: 8px;
        right: 5px;
        border-left-style: none;
        border-bottom-style: none;
        border-top-style: solid;
        border-right-style: solid;
        transform: rotate(45deg);
        @include anim($param: right, $dur: .3s);
    }
    &.is__active {
        &:before {
            left: 3px;
        }
        &:after {
            right: 9px;
            border-top-style: none;
            border-right-style: none;
            border-left-style: solid;
            border-bottom-style: solid;
        }
    }
}