.btn {
    display: block;
    padding: 10px 25px;
    background: rgb(63, 81, 181);
    color: #fff;
    border-radius: 5px;
    @include anim($dur: .1s);
    &:hover {
        color: #fff;
        background: rgb(255, 64, 129);
    }
}
.arrow-dropdown {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 13px;
        top: 10px;
        width: 4px;
        height: 24px;
        background: #fff;
        transform: rotate(-45deg);
        transition: .3s transform;
    }
    &:after {
        transform: rotate(45deg);
        left: 28px;
    }
    &.is-active {
        &:before {
            transform: rotate(-135deg);
        }
        &:after {
            transform: rotate(135deg);
        }
    }
}
.burger {
    position: relative;
    display: block;
    width: 40px;
    height: 30px;
    padding: 13px 0;
    background-color: #fff;
    background-clip: content-box;
    cursor: pointer;
    transition: background 50ms ease-in 250ms;
    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        top: 0;
        left: 0;
        background: #fff;
        transform: rotate(0deg) scale(1);
        transition: top .25s ease-in .3s,
        transform .25s ease-in 0s;
    }
    &:after {
        top: 26px;
    }
    &.is__open {
        background-color: transparent;
        transition: background 50ms ease-in 250ms;
        &:before,
        &:after {
            top: 13px;
            transition: top .25s ease-in 0s,
            transform .25s ease-in .3s;
        }
        &:before {
            transform: rotate(-45deg) scaleX(1.2);
        }
        &:after {
            transform: rotate(45deg) scaleX(1.2);
        }
    }
    &--tools {
        background-color: #ccc;
        &:before,
        &:after {
            background: #ccc;
        }
    }
}
.arrow {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:before,
    &:after {
        content: '';
        position: absolute;
        border: 4px #fff;
    }
    &:before {
        top: 19px;
        border-top-style: solid;
        width: 35px;
    }
    &:after {
        content: '';
        width: 22px;
        height: 22px;
        top: 8px;
        right: 5px;
        border-left-style: none;
        border-bottom-style: none;
        border-top-style: solid;
        border-right-style: solid;
        transform: rotate(45deg);
        @include anim($param: right, $dur: .3s);
    }
    &.is__active {
        &:before {
            left: 3px;
        }
        &:after {
            right: 9px;
            border-top-style: none;
            border-right-style: none;
            border-left-style: solid;
            border-bottom-style: solid;
        }
    }
}
.icon-user {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
    &__head {
        display: block;
        width: 12px;
        height: 12px;
        background: #fff;
        position: absolute;
        border-radius: 50%;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__body {
        display: block;
        width: 20px;
        height: 20px;
        background: #fff;
        position: absolute;
        bottom: -9px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 4px;
    }
}
.checkbox-slider {
    position: relative;
    margin-right: 20px;
    &__label {
        display: block;
        width: 60px;
        height: 33px;
        border-radius: 20px;
        background: #99a4ac;
        border: 1px solid #ccc;
        position: relative;
        @include anim(.20s, background);
        &:before {
            content: '';
            will-change: transform;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background: #fff;
            border: 1px solid #ccc;
            position: absolute;
            right: 3px;
            top: 3px;
            transform: translateX(0);
            @include anim(.20s, transform);
        }
    }
    &__input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        &:checked {
            & + .checkbox-slider__label {
                background: #44b04a;
            }
            & + .checkbox-slider__label:before {
                transform: translateX(-27px);
            }
        }
    }
}
.checkbox-mark {
    position: relative;
    margin-top: 1px;
    &__label {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 2px;
        background: #37474f;
        border: 1px solid #ccc;
        position: relative;
        &:before,
        &:after {
            content: '';
            will-change: transform;
            width: 3px;
            height: 0;
            background: #84f98b;
            position: absolute;
            left: 8px;
            top: 13px;
            border-radius: 3px;
            transform: rotate(-40deg);
            @include anim(.25s, height);
        }
        &:after {
            right: 10px;
            left: auto;
            transform: rotate(40deg);
            height: 0;
            top: 5px;
            @include anim(.25s, height);
        }
    }
    &__input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        &:checked {
            & + .checkbox-mark__label:before {
                height: 9px;
            }
            & + .checkbox-mark__label:after {
                height: 18px;
            }
        }
    }
}

.radio-circle {
    position: relative;
    margin-top: 1px;
    &__label {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #ccc;
        position: relative;
        transition: .25s border-color,
                    .25s box-shadow;
        &:before {
            content: '';
            will-change: transform;
            width: 0;
            height: 0;
            background: #229fff;
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            transition: .25s width,
                        .25s height;
        }
    }
    &__input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        &:checked {
            & + .radio-circle__label {
                border-color: #229fff;
                box-shadow: 0 0 1px 1px #229fff;
            }
            & + .radio-circle__label:before {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.btn-close {
    display: block;
    position: relative;
    width: 28px;
    height: 28px;
    border: 3px solid #fff;
    border-radius: 50%;
    &:before,
    &:after {
        content: '';
        display: block;
        width: 2px;
        height: 12px;
        background: #fff;
        position: absolute;
        left: 10px;
        top: 5px;
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.btn-prev,
.btn-next {
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    background: transparent;
    position: relative;
    &__inner {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid #fff;
        will-change: transform;
        &:before,
        &:after {
            content: '';
            display: block;
            width: 1px;
            height: 8px;
            background: #fff;
            position: absolute;
            left: 10px;
            top: 4px;
            transform: rotate(-45deg);
        }
        &:after {
            top: 9px;
            transform: rotate(45deg);
        }
    }
}

.icon-mouse {
    display: block;
    position: relative;
    top: -10px;
    width: 24px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 15px;
    &:after {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__arrow {
        display: block;
        position: absolute;
        left: 0;
        bottom: -12px;
        animation: mouseFade 2.5s infinite;
        animation-delay: .5s;
        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 13px;
            bottom: 0;
            width: 2px;
            height: 13px;
            background: #fff;
            transform: rotate(45deg);
        }
        &:after {
            left: 5px;
            transform: rotate(-45deg);
        }
        &.--second {
            bottom: -22px;
            animation-delay: .7s;
        }
    }
}

@keyframes mouseFade {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translateY(10px);
        opacity: 1;
    }
    75% {
        opacity: .50;
        transform: translateY(10px);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

.icon-mouse-holisticon {
    display: block;
    width: 32px;
    height: 50px;
    position: relative;
    border: 2px solid transparent;
    border-radius: 15px;
    animation: mouseCircles 1.2s infinite;
    &:after {
        content: '';
        display: block;
        width: 2px;
        height: 9px;
        border-radius: 1px;
        background: #fff;
        opacity: 0;
        position: absolute;
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
        animation: mouseDrop 1.2s infinite;
    }
    &__circle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 16px);
        height: calc(100% + 18px);
        border: 2px solid transparent;
        border-radius: 20px;
        animation: mouseCircles 1.2s infinite;
        animation-delay: 0.3s;

        &.--second {
            width: calc(100% + 30px);
            height: calc(100% + 32px);
            border-radius: 26px;
            animation: mouseCircles 1.2s infinite;
            animation-delay: 0.5s;
        }
    }
}

@keyframes mouseCircles {
    0% {
        border: 2px solid rgba(255,255,255, 0.0);
    }
    20% {
        border: 2px solid rgba(255, 255, 255, 0.4);
    }
    25% {
        border: 2px solid rgba(255, 255, 255, 0.3);
    }
    30% {
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
    50% {
        border: 2px solid rgba(255,255,255, 0);
    }
    100% {
        border: 2px solid rgba(255,255,255, 0);
    }
}

@keyframes mouseDrop {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 0;
    }
    5% {
        transform: translateX(-50%) translateY(2px);
        opacity: .4;
    }
    20% {
        transform: translateX(-50%) translateY(4px);
        opacity: .4;
    }
    80% {
        transform: translateX(-50%) translateY(25px);
        opacity: .2;
    }
    100% {
        transform: translateX(-50%) translateY(30px);
        opacity: 0;
    }
}

.focus-within {
    width: 100%;
    &__input {
        border-radius: 3px;
        border: none;
        background: #fff;
        height: 30px;
        font-size: 24px;
        line-height: 26px;
    }
}

.star-rating {
    display: block;
    width: 100%;
    &__input{
        display: none;
    }
    &__wrap {
        direction: rtl;
    }
    &__ico {
        color: #FDD003;
    }
    &__ico:hover:before,
    &__ico:hover ~ .b-star-rating__ico:before {
        content: "\f005";
        color: #FDD003;
    }
    &__ico:hover:before,
    &__ico:hover ~ &__ico:before,
    &__input:checked ~ &__ico:before {
        content: "\f005";
        color: #FDD003;
    }
}