.row {
    display: block;
    width: 100%;
    background: #ccc;
    padding: 40px 50px;
    margin-bottom: 20px;
    &--canvas {
        padding: 0;
        background: #f1f1f1;
    }
    &--burger {
        background: #002931;
    }
    &--arrow {
        background: #3d5100;
    }
    &--arrow-dropdown {
        background: #000963;
    }
    &--icon-user {
        background: #98c379;
    }
    &--vue {
        background: #f2f2f2;
        margin: 0 0 10px;
        color: #424242;
    }
    &--checkbox {
        display: flex;
        justify-content: flex-start;
        background: #abb2bf;
    }
    &--radio {
        display: flex;
        justify-content: flex-start;
        background: #cfd7e6;
    }
}

.b-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    &__title {
        display: block;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #181a1f;
        width: 100px;
        height: 100px;
        color: #fff;
        &.--specially {
            background: #3b4048;
            grid-row-start: 2;
            grid-column-end: -2;
        }
    }
}