.row {
    display: block;
    width: 100%;
    background: #ccc;
    padding: 40px 50px;
    margin-bottom: 20px;
    &--canvas {
        padding: 0;
        background: #f1f1f1;
    }
    &--burger {
        background: #002931;
    }
    &--arrow {
        background: #3d5100;
    }
    &--arrow-dropdown {
        background: #000963;
    }
    &--icon-user {
        background: #98c379;
    }
    &--vue {
        background: #f2f2f2;
        margin: 0 0 10px;
        color: #424242;
    }
    &--checkbox {
        display: flex;
        justify-content: flex-start;
        background: #abb2bf;
    }
    &--radio {
        display: flex;
        justify-content: flex-start;
        background: #cfd7e6;
    }
}