.follow {
    &__holder {
        width: 300px;
        margin: 0 auto;
        border-radius: 15px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        position: relative;
        &-input {
            width: 100%;
            height: 30px;
            border: none;
            background: transparent;
            border-bottom: 2px solid #ccc;
            position: relative;
            z-index: 4;
            padding-right: 25px;
        }
        &-button {
            border: 0;
            position: absolute;
            width: 20px;
            height: 20px;
            right: 0;
            z-index: 5;
            background: transparent;
            cursor: pointer;
            span,
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 2px;
                left: 13px;
                width: 2px;
                height: 10px;
                background: #ccc;
                border-radius: 2px;
                transform: rotate(-50deg);
            }
            &:after {
                top: 8px;
                left: 13px;
                height: 10px;
                transform: rotate(50deg);
            }
            span {
                transform: none;
                top: 9px;
                left: 0;
                width: 17px;
                height: 2px;
            }
        }
    }
}

.bear {
    width: 100%;
    height: 100%;
    &__holder {
        width: 150px;
        height: 150px;
        border: 1px solid #000;
        border-radius: 50%;
        margin: 0 auto 20px;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__head {
        width: 6px;
        height: 100px;
        background: #000;
        border-radius: 5px;
        position: relative;
        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 16px;
            bottom: -6px;
            width:  6px;
            height: 50px;
            background: #000;
            transform: rotate(45deg);
            border-radius: 5px;
        }
        &:after {
            left: -16px;
            transform: rotate(-45deg);
        }
    }
}