.learn-js {
    &__title {
        display: block;
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 700;
    }
    &__list {
        display: flex;
        flex-flow: column wrap;
    }
}