.first-grid {
    width: 100%;
    &__title {
        display: block;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__list {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20%;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #181a1f;
        width: 100px;
        height: 100px;
        color: #fff;
        &.--specially {
            background: #3b4048;
            grid-row-start: 2;
            grid-column-end: -2;
        }
    }
}

.second-grid {
    width: 100%;
    &__title {
        display: block;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__list {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20%;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #181a1f;
        width: 100px;
        height: 100px;
        color: #fff;
        &.--specially {
            background: #3b4048;
            grid-area: 2;
        }
    }
}