.parallax-card {
    width: 250px;
    height: 280px;
    border-radius: 15px;
    margin: 10px 10px 10px 0;
    &__holder {
        height: 100%;
        transform-style: preserve-3d;
        perspective: 1000px;
        // Cвойство perspective определяет, на сколько пикселей удален 3D элемент от точки обзора. Это свойство позволяет изменять перспективу, откуда просматриваются 3D элементы.
        //При определении свойства perspective для элемента, перспективный вид получают именно дочерние элементы, а не сам элемент.
        will-change: transform;
        &:hover {
            .parallax-card__front {
                transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
                transform: rotateY(-180deg);
                transform-style: preserve-3d;
            }
            .parallax-card__back {
                transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
                transform: rotateY(0deg);
                transform-style: preserve-3d;
            }
        }
    }
    &__content {
        transform: translateY(-50%) translateZ(60px) scale(0.94);
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
        outline: 1px solid transparent;
        perspective: inherit;
        z-index: 2;
        will-change: transform;
    }
    &__front {
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        background-size: cover;
        min-height: 100%;
        height: auto;
        backface-visibility: hidden;
        // Свойство backface-visibility задает видимость обратной стороны элемента в трехмерном пространстве (при повороте). По умолчанию, если элемент повернут к нам обратной стороной - она будет видна, однако это поведение можно изменить.
        border-radius: 10px;
        color: #fff;
        font-size: 1.5rem;
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        will-change: transform;
        &-title {
            display: block;
            text-align: center;
        }
    }
    &__back {
        transform: rotateY(180deg);
        transform-style: preserve-3d;
        background: #000;
        background-size: cover;
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        min-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        will-change: transform;
        width: 100%;
        height: auto;
        border-radius: 10px;
        color: #fff;
        backface-visibility: hidden;
        font-size: 1.5rem;
        &-descr {
            display: block;
            text-align: center;
        }
    }
}