// Fonts color
$colorText: #444;
$colorLink: #0062e2;
$colorHover: #8753e2;

// Blocks color
$bgBody: #fff;

// Blocks width
$minWidth: 320px;

// Fonts
$family: 'GothamPro', Arial, Helvetica, sans-serif;

// Images
$fonturl: '/dependencies/fonts';
$imgurl: '/dependencies/images';
