// Fonts color
$colorText: #000;
$colorLink: blue;
$colorHover: pink;

// Blocks color
$bgBody: #fff;

// Blocks width
$minWidth: 320px;

// Fonts
$family: 'GothamPro', Arial, Helvetica, sans-serif;

// Images
$fonturl: '/dependencies/fonts';
$imgurl: '/dependencies/images';
