extends ../layout

block append scripts
    script(src='../../../../dist/scripts/blur/blur.min.js')

block content
    div.container.blur
        .test-blur
            .test-blur__holder
                .test-blur__frame
                    img(id="srcimg" src="../../images/01.jpg")
                    canvas#canvas
                    .test-blur__content
                        span.test-blur__title Your Title Goes Here <br> Make It Long & Maybe <br> 3 Lines
                        span.test-blur__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, voluptatum?