html
    head
        title AlexMell - Boostrap 4
        link(rel="stylesheet"  href="../../../../dist/styles/style-boostrap.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    body
        .wrapper
            .container
                .example-bs
                    .row
                        h3 Same col width
                    .row
                        .col Col
                        .col Col
                    .row
                        .col Col
                        .col Col
                        .col Col
                .example-bs
                    .row
                        h3 Установка ширины одной колонки
                    .row
                        .col 1 из 3
                        .col-6 2 из 3 (Широкое)
