html
    head
        title AlexMell - Boostrap 4
        link(rel="stylesheet"  href="../../../../dist/styles/style-boostrap.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    body
        .wrapper
            .container
                .like-a-header
                    .row.justify-content-center
                        a(href="/index.html" class="back") Back to main page
                        h1 Boostrap 4 Intro
            .container
                .example-bs
                    .row
                        h3 Same col width
                    .row
                        .col Col
                        .col Col
                    .row
                        .col Col
                        .col Col
                        .col Col
                .example-bs
                    .row
                        h3 Установка ширины одной колонки
                    .row
                        .col 1 из 3
                        .col-6 2 из 3 (Широкое)
                        .col 3 из 3
                    .row
                        .col 1 из 3
                        .col-6 2 из 3 (Широкое)
                        .col 3 из 3
                .example-bs
                    .row
                        h3 Контент переменной ширины
                    .row.justify-content-sm-center
                        .col.col-lg-2 1 из 3
                        .col-sm-auto 2 из 3
                        .col.col-lg-2 1 из 3
                    .row
                        .col 1 из 3
                        .col-sm-auto 2 из 3
                        .col.col-md-2 3 из 3
                .example-bs
                    .row
                        h3 Мульти-ряд
                    .row
                        .col col
                        .col col
                        .w-100
                        .col col
                        .col col
                    .row
                        .col col
                        .col col
                        .col col
                        .col col
                    .row
                        .col-8.col-xl-6 col-8
                        .col-4.col-xl-6 col-4
                .example-bs
                    .row
                        h3 На мобильных устройсва
                    .row
                        .col-sm-8 col-sm-8
                        .col-sm-4 col-sm-4
                    .row
                        .col-sm col-sm
                        .col-sm col-sm
                .example-bs
                    .row
                        h3 Создание сложное комбинированное слово
                    .row
                        .col-md-8 col-md-8
                        .col-6.col-md-4 col-md-4.col-6
                .example-bs.example-green
                    h3 Вертикальное Выравнивание
                    .row.align-items-start
                        .col Up
                        .col Up
                        .col Up
                .example-bs.example-green
                    h3 По центру
                    .row.align-items-center
                        .col Up
                        .col Up
                        .col Up
                .example-bs.example-green
                    h3 По низу
                    .row.align-items-end
                        .col Up
                        .col Up
                        .col Up
                .example-bs.example-green
                    h3 По разному
                    .row
                        .col.align-self-start Col
                        .col.align-self-center Col
                        .col.align-self-end Col
                .example-bs
                    .row
                        h3 Горизонтальное выравнивание
                    .row.justify-content-center
                        .col.col-4 row justify content start
                        .col.col-4 row justify content start
                .example-bs
                    .row
                        h3 Удаление полей между колонками
                    .row.no-gutters
                        .col-6.col-sm-4 Col-6.col-sm-4
                        .col-6.col-sm-4 Col-6.col-sm-4
                        .col-6.col-sm-4 Col-6.col-sm-4
                        .col-6.col-sm-4 Col-6.col-sm-4
                        .col-6.col-sm-4 Col-6.col-sm-4
                        .col-6.col-sm-4 Col-6.col-sm-4
                        .col-6.col-sm-4 Col-6.col-sm-4
                .example-bs
                    .row
                        h3 Классы порядка элементов
                    .row
                        .col Первый неупорядоченный элементы
                        .col.order-12 Второй, упорядоченный 12
                        .col.order-1 Третий, упорядоченный 6
