extends ../layout

block append scripts
    script(src='../../../src/plugins/salvattore.min.js')
    script(src='../../../dist/scripts/brander-homeworks/brander-homeworks.min.js')

block content

    ul
        li
            a(href="brander-homeworks/l1.html") Try 1
        li
            a(href="brander-homeworks/l2.html") Try 2
        li
            a(href="brander-homeworks/l3.html") Try 3