extends ../layout

block append scripts
    script(src='../../../../dist/scripts/for-layout/for-layout.min.js')

block content
    .for-layout
        .for-layout__section
            h2.for-layout__title Accordion
            ul#accordion.accordion
                li
                    .link
                        | Web Design
                        span.arrow-dropdown.js-arrow-dropdown
                    ul.submenu
                        li
                            a(href='#') Photoshop
                        li
                            a(href='#') HTML
                        li
                            a(href='#') CSS
                li
                    .link
                        | Coding
                        span.arrow-dropdown.js-arrow-dropdown
                    ul.submenu
                        li
                            a(href='#') Javascript
                        li
                            a(href='#') jQuery
                        li
                            a(href='#') Ruby

        .for-layout__section
            h2.for-layout__title Follow Typing
            .follow
                .follow__holder
                    .bear
                        .bear__holder
                            .bear__head.js-bear-head
                    .follow__form
                        input(type="text" maxlength="40" class="follow__form-input js-follow-input")
                        button.follow__form-button
                            span

        .for-layout__section
            h2.for-layout__title Custom Popup
                button(class="btn btn-show-popup js-open-popup" data-target="custom-popup") Show Popup
                div(class="custom-popup js-custom-popup" id="custom-popup" data-popup="custom-popup")
                    .custom-popup__holder.js-custom-popup-holder
                        span.custom-popup__close.js-close-popup
                        .custom-popup__title Popup Header
                        .custom-popup__content Popup Content
                        .custom-popup__footer Popup Footer

        .for-layout__section
            h2.for-layout__title Custom Tabs
                .tabs
                    .tabs__holder
                        ul.tabs__list-links
                            li.tabs__link
                        