extends ../layout

block append scripts
    script(src='../../../../dist/scripts/learn-canvas/learn-canvas.min.js')

block content
    h1 Lorem ipsum
    canvas(height="320" width="480" id="example")

    canvas(height="320" width="480" id="first")
