extends ../layout

block append scripts
    script(src='../../../src/plugins/salvattore.min.js')
    script(src='../../../dist/scripts/tools/tools.min.js')
    script(src='../../../dist/scripts/css/css.min.js')

block content
    div.tools
        div.tools__heading-holder
            h1.tools__heading #{mainTitle}
        div(id="grid", class="tools__grid", data-columns="4")

            mixin list(item)
                li.tools__item
                    div.tools__frame
                        i.icon-list-item
                    a(class="tools__link", href=item.url target="_blank")= item.text
                        if item.lang
                            span.tools__lang= '(' + item.lang + ')'
                        else

            div.tools__division
                span.tools__title Inspiration/Articles
                ul.tools__list
                    for item in newsList
                        +list(item)

            div.tools__division
                span.tools__title Education
                ul.tools__list
                    for item in educationList
                        +list(item)


            div.tools__division
                span.tools__title Helper
                ul.tools__list
                    for item in helpList
                        +list(item)

            div.tools__division
                span.tools__title Libraries/Frameworks
                ul.tools__list
                    for item in pluginsList
                        +list(item)

            div.tools__division
                span.tools__title YouTube Channels
                ul.tools__list
                    for item in channelList
                        +list(item)

            div.tools__division
                span.tools__title Podcasts
                ul.tools__list
                    for item in podcastList
                        +list(item)

            div.tools__division
                span.tools__title Miscellaneous & Productivity
                ul.tools__list
                    for item in productivityList
                        +list(item)

            div.tools__division
                span.tools__title Clouds
                ul.tools__list
                    for item in cloudList
                        +list(item)

            div.tools__division
                span.tools__title Browsers/Chrome extensions
                ul.tools__list
                    for item in extensionList
                        +list(item)