extends ../layout

block append scripts
    script(src='../../../src/plugins/salvattore.min.js')
    script(src='../../../dist/scripts/css/css.min.js')

block content
    div(class="row row--burger")
        div(class="burger js-burger")

    div(class="row row--arrow")
        .btn-section
            div(class="arrow js-arrow")
        .btn-section
            div(class="btn-close")
        .btn-section
            button(class="btn-prev")
                span(class="btn-prev__inner js-btn-moving")

    div(class="row row--arrow-dropdown")
        .btn-section
            span(class="arrow-dropdown js-arrow-dropdown")

    div(class="row row--icon-user")
        .btn-section
            a(href="#" class="icon-user")
                span(class="icon-user__head")
                span(class="icon-user__body")
        .btn-section
            a(href="#" class="icon-mouse")
                span(class="icon-mouse__arrow --first")
                span(class="icon-mouse__arrow --second")
        .btn-section
            a(href="#" class="icon-mouse-holisticon")
                span(class="icon-mouse-holisticon__circle --first")
                span(class="icon-mouse-holisticon__circle --second")
    div(class="row row--checkbox")
        .checkbox-slider
            input(type="checkbox" id="checkbox-slider" class="checkbox-slider__input")
            label(for="checkbox-slider" class="checkbox-slider__label")
        .checkbox-mark
            input(type="checkbox" id="checkbox-mark" class="checkbox-mark__input")
            label(for="checkbox-mark" class="checkbox-mark__label")
    div(class="row row--radio")
        .btn-section
            .radio-circle
                input(type="checkbox" id="radio-circle" class="radio-circle__input")
                label(for="radio-circle" class="radio-circle__label")
        .btn-section
            .star-rating
                .star-rating__wrap
                    input(class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5")
                    label(class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5  stars")
                    input(class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4")
                    label(class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars")
                    input(class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3")
                    label(class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars")
                    input(class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2")
                    label(class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars")
                    input(class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1")
                    label(class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars")
    div(class="row row--grid-one")
        .first-grid
            .first-grid__title Grid #1
            .first-grid__list
                .first-grid__item.--specially Specially Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
    div(class="row row--grid-two")
        .second-grid
            .second-grid__title Grid #2 with object-fit
            .second-grid__list
                - for (var x = 1; x < 19; x++)
                    .second-grid__item
                        img(src="../../images/nature/" + x + ".jpg")
    div(class="row row--grid-two")
        .third-grid
            .third-grid__title Grid #3
            .third-grid__container
                .third-grid__header Header
                .third-grid__left-col Nav
                .third-grid__main Main
                .third-grid__right-col Aside
                .third-grid__footer Footer

    div(class="row row--card")
        .row__title Parallax card (perspective, backface-visibility)
        .parallax-card
            .parallax-card__holder
                .parallax-card__front(style="background: url(../../images/nature/1.jpg) 50% 50% no-repeat;")
                    .parallax-card__content
                        span.parallax-card__front-title Title
                .parallax-card__back
                    .parallax-card__content
                        span.parallax-card__back-descr Description
        .parallax-card
            .parallax-card__holder
                .parallax-card__front(style="background: url(../../images/nature/4.jpg) 50% 50% no-repeat;")
                    .parallax-card__content
                        span.parallax-card__front-title Title
                .parallax-card__back
                    .parallax-card__content
                        span.parallax-card__back-descr Description
    div(class="row row--focus-within")
        .row__title focus-within
        .focus-within
            form(action="#" class="focus-within__form")
                input(type="text" class="focus-within__input")
    div(class="row row--grid-fourth")
        .row__title Grid #4
        .fourth-grid
                ul.fourth-grid__list
                    - for (var x = 1; x < 19; x++)
                        li.fourth-grid__item
                            span.fourth-grid__text Lorem



