extends ../layout

block append scripts
    script(src='../../../src/plugins/salvattore.min.js')
    script(src='../../../dist/scripts/css/css.min.js')

block content
    div(class="row row--burger")
        div(class="burger js-burger")

    div(class="row row--arrow")
        .btn-section
            div(class="arrow js-arrow")
        .btn-section
            div(class="btn-close")
        .btn-section
            button(class="btn-prev")
                span(class="btn-prev__inner js-btn-moving")

    div(class="row row--arrow-dropdown")
        span(class="arrow-dropdown js-arrow-dropdown")
        
    div(class="row row--icon-user")
        .btn-section
            a(href="#" class="icon-user")
                span(class="icon-user__head")
                span(class="icon-user__body")
        .btn-section
            a(href="#" class="icon-mouse")
                span(class="icon-mouse__arrow --first")
                span(class="icon-mouse__arrow --second")
    div(class="row row--checkbox")
        .checkbox-slider
            input(type="checkbox" id="checkbox-slider" class="checkbox-slider__input")
            label(for="checkbox-slider" class="checkbox-slider__label")
        .checkbox-mark
            input(type="checkbox" id="checkbox-mark" class="checkbox-mark__input")
            label(for="checkbox-mark" class="checkbox-mark__label")
    div(class="row row--radio")
        .radio-circle
            input(type="checkbox" id="radio-circle" class="radio-circle__input")
            label(for="radio-circle" class="radio-circle__label")
    div(class="row row--grid-one")
        .first-grid
            .first-grid__title Grid #1
            .first-grid__list
                .first-grid__item.--specially Specially Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
                .first-grid__item Item
    div(class="row row--grid-two")
        .second-grid
            .second-grid__title Grid #2
            .second-grid__list
                - for (var x = 1; x < 19; x++)
                    .second-grid__item
                        img(src="../../images/nature/" + x + ".jpg")
    div(class="row row--card")
        .parallax-card
            .parallax-card__holder
                .parallax-card__front(style="background: url(../../images/nature/1.jpg) 50% 50% no-repeat;")
                    .parallax-card__content
                        span.parallax-card__front-title Title
                .parallax-card__back
                    .parallax-card__content
                        span.parallax-card__back-descr Description
        .parallax-card
            .parallax-card__holder
                .parallax-card__front(style="background: url(../../images/nature/4.jpg) 50% 50% no-repeat;")
                    .parallax-card__content
                        span.parallax-card__front-title Title
                .parallax-card__back
                    .parallax-card__content
                        span.parallax-card__back-descr Description
