extends ../layout

block append scripts
    script(src='../../../src/plugins/salvattore.min.js')
    script(src='../../../dist/scripts/css/css.min.js')

block content
    div(class="row row--burger")
        div(class="burger js-burger")

    div(class="row row--arrow")
        div(class="arrow js-arrow")

    div(class="row row--arrow-dropdown")
        span(class="arrow-dropdown js-arrow-dropdown")
        
    div(class="row row--icon-user")
        a(href="#" class="icon-user")
            span(class="icon-user__head")
            span(class="icon-user__body")
    div(class="row row--checkbox")
        .checkbox-slider
            input(type="checkbox" id="checkbox-slider" class="checkbox-slider__input")
            label(for="checkbox-slider" class="checkbox-slider__label")
        .checkbox-mark
            input(type="checkbox" id="checkbox-mark" class="checkbox-mark__input")
            label(for="checkbox-mark" class="checkbox-mark__label")
    div(class="row row--radio")
        .radio-circle
            input(type="checkbox" id="radio-circle" class="radio-circle__input")
            label(for="radio-circle" class="radio-circle__label")

    div(class="row row--grid-one")
        .b-grid__title Grid
        .b-grid
            .b-grid__item.--specially Specially Item
            .b-grid__item Item
            .b-grid__item Item
            .b-grid__item Item
            .b-grid__item Item
            .b-grid__item Item
            .b-grid__item Item
            .b-grid__item Item
            .b-grid__item Item
            .b-grid__item Item