extends ../layout

block append scripts
    script(src='../../../src/plugins/salvattore.min.js')
    script(src='../../../dist/scripts/css/css.min.js')

block content
    div(class="row row__burger")
        div(class="burger js-burger")

    div(class="row row__arrow")
        div(class="arrow js-arrow")

    div(class="row row__arrow-dropdown")
        span(class="arrow-dropdown js-arrow-dropdown")
