extends ../layout

block append scripts
    script(src='../../../../src/plugins/three.min.js')
    script(src='../../../../src/plugins/dat.gui.min.js')
    script(src='../../../../dist/scripts/sphere/sphere.min.js')

block content
    canvas(id="sphere")