<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Title</title>
<meta name="description" content="">
<link rel="shortcut icon" type="image/png" href="../../../favicon.ico"/>
<link rel="shortcut icon" type="image/png" href="../../../favicon.ico"/>
<link rel="stylesheet" href="../../../dist/styles/styles.min.css">
</head>
<body class="body-backbone">
<div class="wrapper">
<header class="header">Header</header>
<main class="main">
<div class="param">
<div class="param__list">
<a class="btn param__name js-all" href="#">all users</a>
<a class="btn param__name js-list" href="#">list users</a>
</div>
</div>
<div class="tab-content">
<div class="tab-users js-tab-all"></div>
<div class="tab-quantity js-tab-list">
<div><Mister></Mister><span class="st-mr"></span>
</div>
<div><Missis></Missis><span class="st-ms"></span>
</div>
<div><Miriesessrse></Miriesessrse><span class="st-mrs"></span>
</div>
</div>
</div>
</main>
<footer class="footer">Footer</footer>
</div>
<script type="text/template" id="person">
<div class="user">
<div class="user__img">
<img src="<%= picture.medium %>" alt="">
</div>
<div class="user__info">
<i><%= name.title %></i>
<strong><%= gender %></strong>
<span><%= name.first %></span>
<span><%= location.city %></span>
<span><%= registered %></span>
</div>
</div>
</script>
<script src="../../plugins/jquery-3.1.1.js"></script>
<script src="../../plugins/underscore.js"></script>
<script src="../../plugins/backbone.js"></script>
<script src="../../../dist/scripts/backbone/backbone.min.js"></script>
</body>
</html>